{
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": 2,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ],
    [
      "@babel/plugin-proposal-class-properties"
    ]
  ],
  presets: [
    [
      "@babel/preset-env",
      {
        targets: {
          chrome: "67"
        }
      }
    ],
    "@babel/preset-react"
  ]
}
